@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,800;1,700&family=Roboto:ital,wght@0,100;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to right, skyblue, orange);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    padding: 10px;
    width: 400px;
    height: 70vh;
    color: #fff;
    line-height: 12px;
    background-color: #5CAB7D;
    border: 2px solid  #c3e7d2;
    border-radius: 10px;
}

h1 {
    color: #fcf806;
    margin: 40px auto;
    font-size: 40px;
    letter-spacing: -0.8px;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.inputContainer .input {
    width: 85%;
    height: 30px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.inputContainer .input::placeholder {
    color: rgb(146, 140, 140);
    font-weight: 700;
    letter-spacing: 1.5px;
}

.inputContainer button {
    border: none;
    border-radius: 5px;
    outline: none;
    font-weight: 900;
    letter-spacing: 2px;
    background-color: rgb(197, 240, 240);
}

.lists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin: 0;
    list-style: none;
}
li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-weight: 600;
    etter-spacing: 2px;
}
.error {
    border: 2px solid red;
}

.delBtn {
    margin-right: 5px;
    border : none;
    border-radius: 5px;
}
