* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, rgb(250, 154, 154), rgb(153, 153, 241));
}

.container {
    margin: 100px auto;
    width: 450px;
    height: 550px;
    background-color: #fff;
    border-radius: 10px;
}

.inputValue {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px auto ;
    padding: 15px 0;
}

.previous, .next {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(206, 206, 76);
    border: none;
}

.previous {
    height: 40px;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
    text-align: right;
    font-weight: 700;
    font-size: 25px;
}

.next {
    height: 50px;
    padding: 10px 15px;
    border-radius: 0 0 5px 5px;
    text-align: right;
    font-weight: 700;
    font-size: 35px;
}

.buttonBox {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 80px);
}

.spanTwo {
    grid-column: span 2;
}

.number, .clear, .del, .cal, .result{
    margin: 2px;
    background-color: orange;
    border: none;
    border-radius: 10px;    
    font-size: 25px;
    font-weight: 700;
}

.result {
    background-color: rgb(133, 156, 31);
}

.cal {
    background-color: peru;
}